<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.scma.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.company.scma.common.po.TArticle">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="editor_name" jdbcType="VARCHAR" property="editorName" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="build_date" jdbcType="TIMESTAMP" property="buildDate" />
    <result column="build_userid" jdbcType="INTEGER" property="buildUserid" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_userid" jdbcType="INTEGER" property="modifyUserid" />
    <result column="deleteflag" jdbcType="INTEGER" property="deleteflag" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, author_id, title, frequency, editor_name, file_url, build_date, build_userid, modify_date,
    modify_userid, deleteflag
  </sql>
</mapper>