<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.scma.mapper.OperationMapper">
  <resultMap id="BaseResultMap" type="com.company.scma.common.po.TOperation">
    <id column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="build_date" jdbcType="TIMESTAMP" property="buildDate" />
    <result column="build_userid" jdbcType="INTEGER" property="buildUserid" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modify_userid" jdbcType="INTEGER" property="modifyUserid" />
    <result column="deleteflag" jdbcType="INTEGER" property="deleteflag" />
  </resultMap>
  <sql id="Base_Column_List">
    operation_id, operation_name, director, contact_tel, address, start_date, end_date, 
    introduction, `status`, build_date, build_userid, modify_date, modify_userid, deleteflag
  </sql>
</mapper>