<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.scma.mapper.PermissionDao">
  <resultMap id="BaseResultMap" type="com.company.scma.common.po.TPermission">
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="build_date" jdbcType="DATE" property="buildDate" />
    <result column="deleteflag" jdbcType="INTEGER" property="deleteflag" />
  </resultMap>
  <sql id="Base_Column_List">
    permission_id, menu_name, permission_name, introduction, build_date, deleteflag
  </sql>
</mapper>